{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}基礎知識{% endblock %}
{% block content %}
<h2>玩法</h2>
<ul>
	<li>當上下移動的黑色線（掃描線）與
	圓形的物體（音符）的圓心重合時點擊音符</li>
	<li>普通音符只需點擊即可</li>
	<li>鎖鏈音符將帶箭頭的音符（滑塊）按下後不要鬆開，
	並將滑塊沿著斜線和圓點組成的路徑拖動，
	直至拖動到最後一個圓點處方可鬆開。
	注意拖動過程中應保持滑塊圓心始終與掃描線重合</li>
	<li>長按音符按下後不要鬆開，原地不動，
	等掃描線到達其末端並顯示判定結果後方可鬆開</li>
</ul>
<br>
<h2>分數及TP系統</h2>
<p>Cytus共有五種判定，從好到壞依次為：
彩Perfect、黑Perfect、Good、Bad、Miss。</p>
<p>得分中包括了90%的「判定分」和10%的「連擊分」，
而連擊分是累進計算的，Combo中斷對其有明顯影響，
Bad及Miss將會中斷Combo數。</p>
<p>TP全名為「Technical Point」（技術點數），
可反映打擊準確度，也是衡量玩家實力的重要標準。</p>
<p>彩Perfect與黑Perfect僅對TP有所影響，
TP與COMBO數完全無關。</p>
<table style="border:5px #000000 solid;" rules="all" cellpadding='5';>
	<tr>
　<td><img src={% static 'wiki/img/Pperfect.gif' %} alt="彩Perfect"></td>
　<td><img src={% static 'wiki/img/Bperfect.gif' %} alt="黑Perfect"></td>
　</tr>
　<tr>
　<td align='center'>▲彩Perfect</td>
　<td align='center'>▲黑Perfect</td>
　</tr>
</table>
<p>當結束一局遊戲時，將根據分數給予對應的等級評定。</p>
<br>
<h2>難易度分級</h2>
<p>Cytus遊戲內的所有曲目按其難易度分為Easy、Hard兩種譜面，
Hard難度下的譜面較Easy更為複雜多樣。</p>
<p>每個譜面都有其對應的量化難易度，以數位1至9來表示，
1為最簡單，9為最難。但即使如此，
遊戲內部分遠遠超出9難度的曲目仍然以9難度來表示。</p>
<br>
<a href={% url 'wiki:wiki' %}>回 Wiki 網頁
{% endblock %}