{% extends "main/base.html" %}
{% block heading %}挑戰你/妳的極限吧{% endblock %}
{% block content %}

{% if categories %}
	<h2>章節分類:</h2>
	<table>
			<tr><th>章節名稱</th><th></th><th></th></tr>
			{% for category in categories %}
				<tr>
					<td>
						<a href={% url 'wiki:category' category.id %}>{{category.name}}</a>
					</td>
					<td>
						<form action={% url 'wiki:updateCategory' category.id %}>
							<input type="submit" value=修改>
						</form>
					</td>
					<td>
						<form method=post action={% url 'wiki:deleteCategory' category.id %}>
							{% csrf_token %}
							<input type=submit value=刪除>
						</form>
					</td>
			 </tr>
			{% endfor %}
	</table>
{% else %}
	<p><strong>目前尚未設定章節分類。</strong></p>
{% endif %}

<p><a href={% url 'wiki:addCategory' %}>新增章節分類</a></p>
<p><a href={% url 'main:main' %}>回首頁</a></p>

{% endblock %}
