<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Cytus之金氏紀錄</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>最難魔王曲</h1>
<h1>尾殺魔王曲</h1>
<h1>最高速魔王曲</h1>
<h1>時間最長</h1>
<h1>時間最短</h1>
<h1>Note數最多</h1>
<h1>Note數最少</h1>
<h1>最強觸手 Quit</h1>
<p>來自韓國的Quit，是一位追求TP 100的完美主義者，
在各種音G上都是狠角色，而且玩的超優雅，
但隨著另一位手機觸手的崛起，Quit的地位是否會被打壓呢？
讓我們繼續看下去</p>
<p><a href='https://www.youtube.com/user/rgmexcy'>這是他的Youtube頻道</a></p>
<h1>單手王Ruby EK</h1>
<p>來自香港的EK，已經用單手攻佔了不少曲子，
前陣子還用單手成功MM 前代最難魔王曲L2B ，
今後想必也會繼續攻佔其他的單手魔王家族</p>
<p><a href='https://www.youtube.com/user/TheEk7011'>這是他的Youtube頻道</a></p>
<p><a href={% url 'main:main' %}>回首頁</a></p>
</body>
</html>