{% extends "main/base.html" %}
{% block heading %}Cytus之金氏紀錄{% endblock %}
{% block content %}

<h2>最難魔王曲 -- Lament - L9:Meteo - Mourn</h2>
<p>Cytus裡普遍認為最難的曲子，在Hard難度下線速偏慢，除了瘋狂的邊滑邊點，
而且還需要極高的耐性和毅力，總之就是一首天殺難的一首曲子啊</p>
<p><img src='http://vignette1.wikia.nocookie.net/cytus/images/6/61/L-9.png/revision/latest/scale-to-width-down/690?cb=20151113072114' 
alt=Lament width="345" heieight="230"></p>
<h2>尾殺魔王曲 -- Code Name:Zero</h2>
<p><img src='http://vignette2.wikia.nocookie.net/cytus/images/9/9f/9-10.png/revision/latest/scale-to-width-down/690?cb=20151019094745' 
alt=CodeName:Zero width="345" heieight="230"></p>
<p>曾經的單手魔王，每次玩到最後幾秒手都會打結</p>
<h2>最高速魔王曲 -- Freedom Dive</h2>
<p><img src='http://vignette1.wikia.nocookie.net/cytus/images/f/f1/10-1.png/revision/latest/scale-to-width-down/690?cb=20151019072459' 
alt=Freedom Dive width="345" heieight="230"></p>
<p>高達222的bpm，讓它成為cytus裡線速最快的一首曲子，
虐待了99%手速不夠快的玩家</p>
<h2>時間最長 -- Liberation - L2:Ascension To The Upper</h2>
<p><img src='http://vignette3.wikia.nocookie.net/cytus/images/d/d3/L-2.png/revision/latest/scale-to-width-down/690?cb=20151113065154' 
alt=Liberation width="345" heieight="230"></p>
<p>L章節的第二首歌曲，長達7分半的時間，在Hard難度下也是線速偏慢，
Note數高達2002，也是Cytus裡最需要耐性和毅力的其中一首</p>
<h2>時間最短 -- The Beginnig</h2>
<p><img src='http://vignette4.wikia.nocookie.net/cytus/images/8/8c/A-M.png/revision/latest/scale-to-width-down/690?cb=20150702090834' 
alt=The Beginning width="345" heieight="230"></p>
<p>M章的章節曲，只有1分18秒，話說這首聽說是1.x時進入遊戲的BGM</p>
<h2>Note數最多 -- Leverage - L3:Roar, On The Deserted Lands</h2>
<p><img src='http://vignette2.wikia.nocookie.net/cytus/images/6/6d/L-3.png/revision/latest/scale-to-width-down/690?cb=20151113060035' 
alt=Leverage width="345" heieight="230"></p>
<p>L章節的第三首歌曲，在Hard難度下也是線速偏慢，
Note數高達2073，也是Cytus裡最需要耐性和毅力的其中一首</p>
<h2>Note數最少 -- The New World</h2>
<p><img src='http://vignette3.wikia.nocookie.net/cytus/images/3/3e/A-10.png/revision/latest/scale-to-width-down/690?cb=20140723110921' 
alt=The New World width="345" heieight="230"></p>
<p>不管easy或hard都只有1個note，與其說是章節歌曲不如說是感謝名單</p>
<h2>最強觸手 -- Quit</h2>
<p>來自韓國的Quit，是一位追求TP 100的完美主義者，
在各種音G上都是狠角色，而且玩的超優雅，
但隨著另一位手機觸手的崛起，Quit的地位是否會被打壓呢？
讓我們繼續看下去</p>
<strong>註：Quit於2015年11月20日第一個將Chapter L之所有Hard譜面Million Master的人</strong>
<p><a href='https://www.youtube.com/user/rgmexcy'>這是他的Youtube頻道</a></p>
<h2>單手王 -- Ruby EK</h2>
<p>來自香港的Ruby EK，已經用單手攻佔了不少曲子，
前陣子還用單手成功Million Master 前代最難魔王曲L2B ，
今後想必也會繼續攻佔其他的單手魔王家族</p>
<p><a href='https://www.youtube.com/user/TheEk7011'>這是他的Youtube頻道</a></p>
<p><a href={% url 'main:main' %}>回首頁</a></p>

{% endblock %}