{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}Cytus之金氏紀錄{% endblock %}
{% block content %}

<h2>最難魔王曲 -- Lament - L9:Meteo - Mourn</h2>
<p><img src={% static 'record/img/Lament.png' %}
alt=Lament width="345" heieight="230"></p>
<p>Cytus裡普遍認為最難的曲子，在Hard難度下線速偏慢，除了瘋狂的邊滑邊點之外，
還需要極高的耐性和毅力，總之就是一首天殺難的一首曲子啊</p>
<p><a href='https://www.youtube.com/watch?v=DL2uQCIvQAc'>請點這裡觀看譜面</a></p><br>
<h2>尾殺魔王曲 -- Code Name:Zero</h2>
<p><img src={% static 'record/img/CodeName:Zero.png' %}
alt=CodeName:Zero width="345" heieight="230"></p>
<p>曾經的單手魔王，每次玩到最後幾秒手都會打結</p>
<p><a href= 'https://www.youtube.com/watch?v=b0A1zUvgBbo'>請點這裡觀看譜面</a></p><br>
<h2>最高速魔王曲 -- Freedom Dive</h2>
<p><img src={% static 'record/img/FreedomDive.png' %} 
alt=Freedom Dive width="345" heieight="230"></p>
<p>高達222的BPM，讓它成為Cytus裡線速最快的一首曲子，
虐待了99%手速不夠快的玩家</p>
<p><a href= 'https://www.youtube.com/watch?v=dQZCTh2s3cs'>請點這裡觀看譜面</a></p><br>
<h2>時間最長 -- Liberation - L2:Ascension To The Upper</h2>
<p><img src={% static 'record/img/Liberation.png' %}
alt=Liberation width="345" heieight="230"></p>
<p>L章節的第二首歌曲，長達7分半的時間，在Hard難度下也是線速偏慢，
Note數高達2002個，也是Cytus裡最需要耐性和毅力的其中一首</p>
<p><a href= 'https://www.youtube.com/watch?v=wT0_iVmGud0'>請點這裡觀看譜面</a></p><br>
<h2>時間最短 -- The Beginnig</h2>
<p><img src={% static 'record/img/TheBeginning.png' %}
alt=The Beginning width="345" heieight="230"></p>
<p>M章的章節曲，只有1分18秒，話說這首聽說是1.x時進入遊戲的BGM</p>
<p><a href= 'https://www.youtube.com/watch?v=kMAfo5v08Ek'>請點這裡觀看譜面</a></p><br>
<h2>Note數最多 -- Leverage - L3:Roar, On The Deserted Lands</h2>
<p><img src={% static 'record/img/Leverage.png' %}
alt=Leverage width="345" heieight="230"></p>
<p>L章節的第三首歌曲，在Hard難度下也是線速偏慢，
Note數高達2073個，也是Cytus裡最需要耐性和毅力的其中一首</p>
<p><a href= 'https://www.youtube.com/watch?v=W-N-dM9FG_I'>請點這裡觀看譜面</a></p><br>
<h2>Note數最少 -- The New World</h2>
<p><img src={% static 'record/img/TheNewWorld.png' %} 
alt=The New World width="345" heieight="230"></p>
<p>不管Easy或Hard都只有1個Note，與其說是章節歌曲不如說是感謝名單</p>
<p><a href= 'https://www.youtube.com/watch?v=yw4kx36Hk4I'>請點這裡觀看譜面</a></p><br>
<h2>最強觸手 -- Quit</h2>
<p>來自韓國的Quit，是一位追求TP 100的完美主義者，
在各種音G上都是狠角色，而且玩的超優雅，
但隨著另一位手機觸手的崛起，Quit的地位是否會被打壓呢？
讓我們繼續看下去</p>
<strong>註：Quit於2015年11月20日第一個將Chapter L之所有Hard譜面Million Master的人</strong>
<p><a href='https://www.youtube.com/user/rgmexcy'>這是他的Youtube頻道</a></p><br>
<h2>單手王 -- Ruby EK</h2>
<p>來自香港的Ruby EK，已經用單手攻佔了不少曲子，
前陣子還用單手成功Million Master 前代最難魔王曲L2B ，
今後想必也會繼續攻佔其他的單手魔王家族</p>
<p><a href='https://www.youtube.com/user/TheEk7011'>這是他的Youtube頻道</a></p>
<p><a href= 'https://www.youtube.com/watch?v=B4aq9OPSHv0'>請點這裡觀看L2B譜面</a></p><br>
<p><a href={% url 'main:main' %}>回首頁</a></p>

{% endblock %}