body {
		background-image:url( '../img/cytus.jpg ' );
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
}

a {
	text-decoration:none;
	color:blue;
}

.success {
	color: blue;
	font-size:135%;
}

.error {
	color: red;
	font-size:135%;
}