{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}關於{% endblock %}
{% block content %}
<p>這是由台灣雷亞遊戲（Rayark）開發的一款音樂節奏遊戲</p><br>
<h2>名稱由來</h2>
<p>Cytus名稱起自於科基托斯（Cocytus），
是希臘神話中的人物，意義代表為哀嘆之河，
遊戲用來描述在未來故事人類滅絕後，
人類將意識遺傳到機器人上面。
而將Cocytus的co去除稱「Cytus」並沒有實質上的意義，
只是認為字母少許容易記憶，並且不會對任何名稱撞名。</p><br>
<h2>Cytus背景故事中出現的名詞含義如下</h2>
<ul>
	<li><h3>Operator</h3></li>
		<p>由ExtenLife Corp.開發的機器人，是人類的精神載體，人類的記憶可以轉移至其上。</p>
	<li><h3>ExtenLife Corp.</h3></li>
		<p>全世界最大的Operator製造公司。提供轉移人類記憶的服務。</p>
	<li><h3>Cytus</h3></li>
		<p>由音樂製成的記憶標本房，與Operator有關聯。</p>
	<li><h3>Vanessa</h3></li>
		<p>在人類文明毀滅（Chapter Ⅱ - DISASTER）之前，曾存在於世界上的人類少女，在整個遊戲的劇情中是重要的存在（即主角）。</p>
</ul>
<br>
<p><a href={% url 'main:main' %}>回首頁</a></p>
{% endblock %}