{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}喚醒你/妳的音樂細胞{% endblock %}
{% block content %}

{% if messages %}
	{% for message in messages %}
	<p {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</p>
	{% endfor %}
{% endif %}

<h2>{{like}}</h2>
<table>
	<tr><td><a href={% url 'main:about' %} >關於</a></td></tr>
	<tr><td><a href={% url 'wiki:wiki' %}>Wiki</a></td></tr>
	<tr><td><a href={% url 'story:story' %}>故事或介紹</a></td></tr>
	<tr><td><a href={% url 'record:record' %}>Cytus之金氏紀錄</a></td></tr>
</table>
{% if user.is_authenticated %}
	<p><a href={% url 'account:userLogout' %}>登出 ({{user.username}})</a></p>
{% else %}
	<p><a href={% url 'account:register' %}>註冊</a></p>
	<p><a href={% url 'account:userLogin' %}>登入</a></p>
{% endif %}
<br>
<br>
<strong>此專案僅適用於課程作業之用途</strong>
<p>參考資料如下：</p>
<table>
	<tr><td><a href="http://www.rayark.com/g/cytus/" >Cytus官網</a></td></tr>
	<tr><td><a href="https://zh.wikipedia.org/wiki/Cytus" >維基百科</a></td></tr>
	<tr><td><a href="http://zh.cytus.wikia.com/wiki/Main_Page" >Cytus中文版維基</a></td></tr>
	<tr><td><a href="http://cytus.wikia.com/wiki/Cytus_Wiki" >Cytus英文版維基</a></td></tr>
	<tr><td><a href="http://forum.gamer.com.tw/A.php?bsn=22009" >巴哈姆特之Cytus哈啦版</a></td></tr>
</table>

<p>現在時間:{{now}}</p>

{% endblock %}